<nav class="navbar navbar-expand-lg navbar-dark bg-dark-pink">
    <div class="container px-5">
        <a class="navbar-brand" href="#">Algeria Quest</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" routerLink="about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" routerLink="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" routerLink="mantra">Out-Mantra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" routerLink="equipments">Equipments</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-bold" id="navbarDropdownBlog" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Pay now</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li>
                            <a class="dropdown-item" target="_blank" href="https://buy.stripe.com/00g14i15z5BS5sQ8ww">
                                Self Service $11.11
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" target="_blank" href="https://buy.stripe.com/3cs28maG93tKaNa7su">
                                30 Minutes per week - $66.66 Monthly
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" target="_blank" href="https://buy.stripe.com/7sI14ieWpaWc08w9AD">
                                60 Minutes per week - $88.88 Monthly
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" target="_blank" href="https://buy.stripe.com/cN2bIW6pTaWc8F2cMQ">
                                90 Minutes per week - $111.11 Monthly
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" target="_blank" href="https://buy.stripe.com/6oEfZccOh1lCg7u001">
                                One Time Purchase Equipment
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" target="_blank" href="https://buy.stripe.com/5kA3cq6pT8O42gEeUZ">
                                One Time 30 Min Session - $22.22
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" target="_blank" href="https://buy.stripe.com/9AQ9AOeWpc0g8F214a">
                                One Time 60 Min Session - $44.44
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" target="_blank" href="https://buy.stripe.com/eVadR4dSl8O42gE4gn">
                                One Time 90 Min Session - $55.55
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <div *ngIf="!tokenExistence()">
                    <a class="nav-link" routerLink="signup">Signup</a>
                </div>
                </li>
                <li class="nav-item">
                    <div *ngIf="!tokenExistence()">
                    <a class="nav-link" routerLink="login">Login</a>
                </div>
                </li>
                <li class="nav-item">
                    <div *ngIf="tokenExistence()">
                    <a class="nav-link" (click)="doLogOut()">Logout</a>
                </div>
                </li>
            </ul>
            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>

<!-- raghuNote: Need to omplement doLogOut() for logout functionality -->