<!-- Footer-->
<footer class="text-center text-lg-start text-white footer-bg">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center p-2 bg-dark-pink">
        <!-- Left -->
        <div class="me-5">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div class="">
            <a href="https://www.facebook.com/profile.php?id=61565365312814" title="facebook" target="_blank"
                class="text-white min-w me-4 text-decoration-none">
                <img src="../../assets/img/face-book.png" width="14px" />
            </a>
            <a href="https://www.instagram.com/alegriaquest?igsh=MWl0eDd3ZHZpam42dQ==" title="instagram" target="_blank"
                class="text-white me-4 text-decoration-none">
                  <img src="../../assets/img/instagram-20.png" />
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold">Alegria Quest</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px">
                    <p>
                        Our goal is to take away learning stigmas by empowering and taking charge and give you as much
                        support as you need.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Links</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px">
                    <p>
                        <a href="" routerLink="home" class="text-white footer-link">Home</a>
                    </p>
                    <p>
                        <a href="" routerLink="about" class="text-white footer-link">About Us</a>
                    </p>
                    <p>
                        <a href="" routerLink="contact" class="text-white footer-link">Contact Us</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold"></h6>
                    <br>
                    <p>
                        <a href="" routerLink="mantra" class="text-white footer-link">Our Mantra</a>
                    </p>
                    <p>
                        <a href="" routerLink="equipments" class="text-white footer-link">Equipment</a>
                    </p>
                    <p>
                        <a href="" routerLink="signup" class="text-white footer-link">signup</a>
                    </p>
                    <p>
                        <a href="" routerLink="login" class="text-white footer-link">Login</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px">
                    <p><i class="fa fa-home mr-3"></i> Alegria Quest,</p>
                    <p><i class="fa mr-3"></i> 2801 South Lawndale Avenue,</p>
                    <p><i class="fa mr-3"></i> Chicago IL 60623</p>
                    <p><i class="fa fa-phone mr-3"></i> + 01 773-956-3284</p>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.5)">
        © 2024 Copyright:
        <a class="text-white" href="#">Alegria Quest</a>
    </div>
    <!-- Copyright -->
</footer>