<!-- Header-->
<header class="py-5 header-bg" style="transform: rotate(180deg);">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="text-center p-3" style="transform: rotate(180deg); position: relative; bottom: 1rem;">
                    <h1 class="display-5 fw-bold text-white">About Us</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded-3 shadow mb-5 mb-lg-0"
                    src="../../assets/img/about-img.png" alt="..."></div>
            <div class="col-lg-6">
                <!-- <h2 class="fw-bolder">Our founding</h2> -->
                <p class="lead fw-normal text-muted mb-0">After providing therapy for over 20 years, which included
                    Professional counseling (masters in counseling and guidance), massage therapist ( energy work)
                    occupational therapist (sensory integration) and working with kids with special needs and families,
                    working in hospitals with adults terminally ill, working with foster care children and adaptive
                    families.</p>
                <br>
                <p class="lead fw-normal text-muted mb-0">When I decided to retire, my peers, coworkers, colleagues,
                    wanted me to [some sort of way] give information back so other people could continue using the
                    techniques that have been proven to have worked to increase the level of function.</p>
                <br>
                <a class="btn bg-dark-pink text-white fw-bold" target="_blank"
                    href="https://calendly.com/laura-alegriaquest">Schedule a Session Today</a>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-12">
                <p class="lead fw-normal text-muted mb-0">Through experience and practice. I realized with a consistent
                    format, we can accomplish functional outcomes without the need of a specialized therapist.
                    Basically, anyone can do it and you will have results. If you can stay consistent (highly
                    recommended support team).We have many different cases of people who have benefited from these
                    strategies. The brain does not reach full potential while frustrated, scared, or angry. </p>
                <br>
                <p class="lead fw-normal text-muted mb-0">Our goal is to take away learning stigmas by empowering and
                    taking charge and give you as much support as you need .</p>
                <br>
                <p class="lead fw-normal text-muted mb-0" style="margin-left: 2rem;"><span
                        style="color:#e60e5c; float: left; width: 4%;">✤</span> <span
                        class="lead fw-normal text-muted mb-0" style="float: left; width: 96%; padding-bottom: 15px;">
                        Learn new Strategies to be happy during learning activities. Having fun helps open brain
                        pathways. This program is a creative personalized form to Unlock your full potential, create
                        lifelong skills while having fun. </span></p>

                <p class="lead fw-normal text-muted mb-0" style="margin-left: 2rem;"><span
                        style="color:#e60e5c; float: left; width: 4%;">✤</span> <span
                        class="lead fw-normal text-muted mb-0" style="float: left; width: 96%;"> When you start and
                        after a while empower you to be the master of your choices and desired outcomes. We are
                        committed to help you set routines, support and identify resources (technological and people) to
                        get ready to receive all you ever wanted and more!</span></p>
            </div>
        </div>
    </div>
</section>