<!-- Banner -->
<header class="header-bg py-5" style="transform: rotate(180deg);">
    <div class="container p-2">
        <div class="text-center text-white" style="transform: rotate(180deg);">
            <h1 class="display-4 fw-bolder">Pay Now
            </h1>
        </div>
    </div>
</header>


<!-- Pricing section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card shadow border-0" style="background-color: blanchedalmond;">

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Self Service </h5>
                            <!-- Product price-->

                            <br>
                            <p style="text-align: center; color: blue; font-size: 24px;" class="fw-bold"> $11.11</p>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">

                            <a class="btn btn-dark mt-auto" href="https://buy.stripe.com/00g14i15z5BS5sQ8ww">Pay now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card shadow border-0" style="background-color: blanchedalmond;">

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">30 Minutes/Week</h5>
                            <!-- Product price-->

                            <br>
                            <p style="text-align: center; color: blue; font-size: 24px;" class="fw-bold">$66.66 Monthly
                            </p>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-dark mt-auto" href="https://buy.stripe.com/3cs28maG93tKaNa7su">Pay now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card shadow border-0" style="background-color: blanchedalmond;">

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">60 Minutes/Week</h5>
                            <!-- Product price-->

                            <br>
                            <p style="text-align: center; color: blue; font-size: 24px;" class="fw-bold">$88.88 Monthly
                            </p>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-dark mt-auto" href="https://buy.stripe.com/7sI14ieWpaWc08w9AD">Pay now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card shadow border-0" style="background-color: blanchedalmond;">

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">90 Minutes/Week</h5>
                            <!-- Product price-->

                            <br>
                            <p style="text-align: center; color: blue; font-size: 24px;" class="fw-bold">$111.11 Monthly
                            </p>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">

                            <a class="btn btn-dark mt-auto" href="https://buy.stripe.com/cN2bIW6pTaWc8F2cMQ">Pay now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card shadow border-0" style="background-color: blanchedalmond;">

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">One Time Purchase</h5>
                            <!-- Product price-->

                            <br>
                            <p style="text-align: center; color: blue; font-size: 24px;" class="fw-bold">Equipment</p>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">

                            <a class="btn btn-dark mt-auto" href="https://buy.stripe.com/6oEfZccOh1lCg7u001">Pay now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card shadow border-0" style="background-color: blanchedalmond;">

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">One Time 30 Min Session</h5>
                            <!-- Product price-->

                            <br>
                            <p style="text-align: center; color: blue; font-size: 24px;" class="fw-bold">$22.22</p>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">

                            <a class="btn btn-dark mt-auto" href="https://buy.stripe.com/5kA3cq6pT8O42gEeUZ">Pay now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card shadow border-0" style="background-color: blanchedalmond;">

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">One Time 60 Min Session</h5>
                            <!-- Product price-->

                            <br>
                            <p style="text-align: center; color: blue; font-size: 24px;" class="fw-bold">$44.44</p>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">

                            <a class="btn btn-dark mt-auto" href="https://buy.stripe.com/9AQ9AOeWpc0g8F214a">Pay now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card shadow border-0" style="background-color: blanchedalmond;">

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">One Time 90 Min Session</h5>
                            <!-- Product price-->

                            <br>
                            <p style="text-align: center; color: blue; font-size: 24px;" class="fw-bold">$55.55</p>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">

                            <a class="btn btn-dark mt-auto" href="https://buy.stripe.com/eVadR4dSl8O42gE4gn">Pay now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>