<!-- Header -->
<header class="py-5 header-bg" style="transform: rotate(180deg);">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="text-center p-3" style="transform: rotate(180deg); position: relative; bottom: 1rem;">
                    <h1 class="display-5 fw-bold text-white">Our Mantra</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-8">
                <img class="img-fluid rounded-3 shadow mb-5 mb-lg-0" src="../../assets/img/mantra.png" alt="...">
            </div>
            <div class="col-lg-4">
                <div>
                    <div>
                        <p class="lead fw-normal text-muted mb-0">Learn in four easy steps (Our Mantra) anything you
                            want&nbsp;</p>
                    </div>
                    <br>
                    <ul class="lead fw-normal text-muted">
                        <li><span>Self coaching</span></li>
                        <li><span>Individual Sessions</span></li>
                        <li><span>Group Sessions</span></li>
                        <li><span>Support Chats</span></li>
                    </ul>
                </div>
                <br>
                <a class="btn bg-dark-pink text-white fw-bold" target="_blank"
                    href="https://calendly.com/laura-alegriaquest">Schedule a Session Today</a>
            </div>
        </div>
    </div>
</section>