<!-- Banner -->
<header class="py-5 header-bg" style="transform: rotate(180deg);">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="text-center p-3" style="transform: rotate(180deg); position: relative; bottom: 1rem;">
                    <h1 class="display-5 fw-bold text-white">Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Page Content-->
<div class="container card shadow border-0 mt-3 mb-3">
    <div class="row justify-content-center p-4">
        <div class="col-lg-6 ">
            <img alt="" width="100%" class="rounded-3 shadow"
                src="https://d14tal8bchn59o.cloudfront.net/_xgc-SLdA0z_Y-JBlJ8OpUFY-XvOERJAPXA-lUDg_FE/rs:fill:960:640:1/plain/https://02f0a56ef46d93f03c90-22ac5f107621879d5667e0d7ed595bdb.ssl.cf2.rackcdn.com/sites/89120/photos/21546489/ILUSTRACION_4_original.jpg">
        </div>
        <div class="col-xl-6">
            <h2><span class="font-size-s"><strong>Contact Alegria Quest</strong></span></h2>
            <br>
            <span class="font-size-m fw-bold">Have a question about any of our products or services?<br>Want to speak to
                a representative?<br>Need to make an appointment?</span>
            <br>
            <span class="font-size-s">Whatever it is, we are only a call or "click" away. Give us a call or use the form
                below to contact us!<br><br>2801 South Lawndale Avenue<br>Chicago, IL 60623</span>
            <span class="font-size-m"><strong>Give Us a Call: </strong><a href="tel:+17739563284"><span
                        style="color:#28B54B;">773-956-3284</span></a></span>
            <br>
            <br>
            <a class="btn bg-dark-pink text-white fw-bold" target="_blank"
                href="https://calendly.com/laura-alegriaquest">Schedule a Session Today</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Boxes de Acoes -->
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image text-center">
                            <span class="material-icons text-white" style="font-size: 36px;">
                                email
                            </span>
                        </div>
                        <div class="info p-3">
                            <h3 class="title-m mt-3">COMPANY NAME</h3>
                            <p>
                                <i class="fa fa-home" aria-hidden="true"></i> &nbsp; Alegria Quest
                                <br>
                                <!-- <br>
                <i class="fa fa-globe" aria-hidden="true"></i> &nbsp www.hardikgondhiya.com -->
                            </p>

                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image text-center">
                            <span class="material-icons text-white" style="font-size: 36px;">
                                phone_iphone
                            </span>
                        </div>
                        <div class="info p-3">
                            <h3 class="title-m mt-3">CONTACT</h3>
                            <p>
                                <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp; (+1)-773-956-3284
                                <br>
                                <!-- <br>
                <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp  (+91)-756706XXXX -->
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image text-center">
                            <span class="material-icons text-white" style="font-size: 36px;">
                                location_on
                            </span>
                        </div>
                        <div class="info p-3">
                            <h3 class="title-m mt-3">ADDRESS</h3>
                            <p>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; 2801 South Lawndale Avenue,
                                Chicago IL 60623.
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
            <!-- /Boxes de Acoes -->

            <!--My Portfolio  dont Copy this -->

        </div>
    </div>

</div>