<!-- Header-->
<header class="py-5 header-bg" style="transform: rotate(180deg);">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="text-center p-3" style="transform: rotate(180deg); position: relative; bottom: 1rem;">
                    <h1 class="display-5 fw-bold text-white">Equipments</h1>
                    <p class="lead fw-normal text-white mb-0">
                        They are learning aids which will help you in your journey of becoming a better version of
                        yourself.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Content section -->
<section class="py-5 bg-light-grey">
    <div class="row justify-content-center" style="width: 80%; margin: 0 auto;">
        <div class="col-lg-12">
            <div class="text-center" style="margin: 0 auto;">
                <!-- <h2 class="fw-bolder">Content Title</h2> -->
                <p class="lead fw-normal text-muted mb-5">Contact us to buy the equipment based on what you are working
                    on.</p>
                <div class="d-flex justify-content-center">
                    <a routerLink="/payment" class="btn btn-default bg-dark-pink text-white btn-lg px-4">Subscription Plan </a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="../../assets/img/3D-glasses.png" alt="...">
                    <br>
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">3D Glasses</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="../../assets/img/headphone.png" alt="..."><br>
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Microphone &
                        Earphones</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="../../assets/img/heart-monitor.png" alt="..."><br>
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Heart Monitor
                        Sensors</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" src="../../assets/img/magnet.png" alt="..."><br>
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Magnet Sacred
                        Geometry Symbols</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" src="../../assets/img/humidfier.png" alt="..."><br>
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Humidifier</a>
                </div>
            </div>
        </div>
    </div>
</section>