<section class="py-5 signup-container">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <h2 class="fw-bolder">Signup</h2>
                <div>
                    <div>
                        <p class="lead fw-normal text-muted mb-0">Sign up today to learn more.</p>
                    </div>
                    <br>
                    <br>
                    <a href="" routerLink="/contact" class="btn btn-default bg-dark-pink text-white btn-lg px-4"
                        target="_self">Contact Us</a>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="container">
                    <div class="container signup-box">
                        <h2>User Registration</h2>
                        <div class="form-group p-2">
                            <label for="username">Email</label>
                            <input [(ngModel)]="email" type="text" id="email" name="email"
                                placeholder="Enter your username" required>
                        </div>
                        <div class="form-group p-2">
                            <label for="username">Username</label>
                            <input [(ngModel)]="username" type="text" id="username" name="username"
                                placeholder="Enter your username" required>
                        </div>

                        <div class="form-group p-2">
                            <label for="password">Password</label>
                            <input [(ngModel)]="password" type="password" id="password" name="password"
                                placeholder="Enter your password" required>
                        </div>
                        {{resultMsg}}
                        <button (click)="signUp()" class="m-2 login-button" type="submit">Chose your plan</button>
                        <div id="errorMessage" class="error-message"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>


<!-- ----------------------------------- -->
<!-- <div class="container bg-info w-50 border border-dark">
    <h2>Login</h2>
    <div class="form-group p-2">
        <label class="m-2 p-1" for="username">Email</label>
        <input [(ngModel)]="email" type="text" id="email" name="email" placeholder="Enter your username" required>
    </div>
    <div class="form-group p-2">
        <label class="m-2 p-1" for="username">Username</label>
        <input [(ngModel)]="username" type="text" id="username" name="username" placeholder="Enter your username"
            required>
    </div>

    <div class="form-group p-2">
        <label class="m-2 p-1" for="password">Password</label>
        <input [(ngModel)]="password" type="password" id="password" name="password" placeholder="Enter your password"
            required>
    </div>
    {{resultMsg}}
    <button (click)="signUp()" class="m-2" type="submit">Login</button>
    <div id="errorMessage" class="error-message"></div>
</div> -->