<!-- Banner -->
<header class="header-bg py-5" style="transform: rotate(180deg);">
    <div class="container p-2">
        <div class="text-center text-white" style="transform: rotate(180deg); position: relative; bottom: 1rem;">
            <h1 class="display-4 fw-bolder">Choose your package
            </h1>
            <p class="lead fw-normal text-white-50 mb-0">
                Available packages and pricing.
            </p>
        </div>
    </div>
</header>

<!-- Pricing section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100 shadow border-0" style="background-color: blanchedalmond;">

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">30 Minutes/Week</h5>
                            <!-- Product price-->
                            <ul class="card-option">
                                <li>Access to the website</li>
                                <li>Able to chat with provider</li>
                                <li>One Time/per week session(30 Minutes)</li>
                                <li>One time monthly Group meeting.</li>
                                <li>Educational session</li>
                            </ul>
                            <p class="text-success fw-bolder" style="font-size: 22px;">$22.22 / Session</p>
                            <br>
                            <p style="text-align: left; color: blue;">Book 4 sessions - $66.66
                                (Saving $22.22)</p>
                            <p style="text-align: left; color: blue;">Can be customized to your needs.</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a routerLink="/paynow" class="btn btn-dark mt-auto">Subscribe
                                Today</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100 shadow border-0" style="background-color: blanchedalmond;">

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">60 Minutes/Week</h5>
                            <!-- Product price-->
                            <ul class="card-option">
                                <li>Access to the website</li>
                                <li>Able to chat with provider</li>
                                <li>One Time/per week session(60 Minutes)</li>
                                <li>One time monthly Group meeting.</li>
                                <li>Educational session</li>
                            </ul>
                            <p class="text-success fw-bolder" style="font-size: 22px;">$44.44 / Session</p>
                            <br>
                            <p style="text-align: left; color: blue;">Book 4 sessions - $88.88
                                (Saving $44.44)</p>
                            <p style="text-align: left; color: blue;">Can be customized to your needs.</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a routerLink="/paynow" class="btn btn-dark mt-auto">Subscribe
                                Today</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100 shadow border-0" style="background-color: blanchedalmond;">

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">90 Minutes/Week</h5>
                            <!-- Product price-->
                            <ul class="card-option">
                                <li>Access to the website</li>
                                <li>Able to chat with provider</li>
                                <li>One Time/per week session(90 Minutes)</li>
                                <li>One time monthly Group meeting.</li>
                                <li>Educational session</li>
                            </ul>
                            <p class="text-success fw-bolder" style="font-size: 22px;">$55.55 / Session</p>
                            <br>
                            <p style="text-align: left; color: blue;">Book 4 sessions - $111.11
                                (Saving $111.11)</p>
                            <p style="text-align: left; color: blue;">Can be customized to your needs.</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a routerLink="/paynow" class="btn btn-dark mt-auto">Subscribe
                                Today</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100 shadow border-0" style="background-color: blanchedalmond;">

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Self Service</h5>
                            <!-- Product price-->
                            <ul class="card-option">
                                <li>Access to the website</li>
                                <li>Able to chat with provider</li>
                                <li>One Time Consultation</li>
                                <li>One time monthly Group meeting.</li>
                                <li><br><br></li>
                            </ul>
                            <p class="text-success fw-bolder" style="font-size: 22px;">$11.11/Month</p>
                            <br>
                            <br>
                            <p>&nbsp;</p>
                            <p style="text-align: left; color: blue;">Can be customized to your needs.</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a routerLink="/paynow" class="btn btn-dark mt-auto">Subscribe
                                Today</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>