<!-- Header-->
<header class="header-bg py-5" style="transform: rotate(180deg);">
    <div class="container shadow border-0 mt-3 mb-3" style="transform: rotate(180deg);">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <img class="rounded-3 shadow my-5" width="100%" src="./../assets/img/home-page-img.jpg" alt="..">
            </div>
            <div class="col-xl-4">
                <div class="my-5 text-center text-xl-start" style="padding-top: 2rem;">
                    <h3 class="display-5 fw-bold text-white mb-2" style="font-size: 32px;">Welcome to Alegria Quest</h3>
                    <p class="lead fw-normal text-white mb-4">Our mission is to facilitate transitions in life. By
                        figuring out blockages, clarify options, set goals to achieve fulfillment.</p>
                    <br>
                    <a class="btn bg-dark-pink text-white fw-bold btn-lg shadow" target="_blank"
                        href="https://calendly.com/laura-alegriaquest">Schedule a Session Today</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section-->

<div class="d-none"></div>